body {
  background-color: var(--mainBg);
  color: var(white);
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}

* {
  cursor: url(https://cur.cursors-4u.net/games/gam-4/gam308.cur), auto !important;
}
